<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,700,900" rel="stylesheet">
    <style>
    body {
        font-family: 'Noto Sans JP', sans-serif;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    </style>
</head>
<body>
<div id="app"></div>
<script>
var rbMonitor = {};
rbMonitor.version = <%- `'${process.env.npm_package_version}'` %>;
rbMonitor.displayName = <%- `'${displayName}'` %>;
rbMonitor.programs = <%- JSON.stringify(programs) %>;
</script>
<script src="/js/app.js"></script>
</body>
</html>